.idea/
/aux/
/config/config.php
/public/.htaccess
/public/aux
/public/components/**/*
/vendor/
composer.lock
composer.phar
logs/**/*
tmp/**/*
.vagrant/
Vagrantfile
/public/adminer-*

!logs/README.md
!tmp/README.md
